<form action="" class="xp-tracker-add-character-form">
  <h2>Add Character</h2>
  <div class="flex fullwidth input-group">
    <label for="name">Character Name:</label>
    <input type="text" name="name" id="name" />
  </div>

  <div class="flex fullwidth input-group">
    <label for="starting-at">Starting at</label>
    <select name="starting-at" id="starting-at">
      <option value="level">Level</option>
      <option value="xp">XP Total</option>
    </select>

    <input type="number" name="starting-value" id="starting-value" />
  </div>

  <button type="submit" name="submit" id="submit">Add Character</button>
</form>
