<div class="xp-tracker-wrapper">
  <div class="table-wrapper">
    <table>
      <thead>
        <td>
          <button
            class="unstyled-button fullwidth"
            id="sort-by"
            data-sort-type="name"
          >
            Character {{#if (eq sortBy "name")}} {{#if (eq sortOrder "asc")}}
            <i class="fa fa-chevron-down"></i>
            {{else}}
            <i class="fa fa-chevron-up"></i>
            {{/if}} {{/if}}
          </button>
        </td>
        <td>Level</td>
        <td>
          <button
            class="unstyled-button fullwidth"
            id="sort-by"
            data-sort-type="xp"
          >
            XP {{#if (eq sortBy "xp")}} {{#if (eq sortOrder "asc")}}
            <i class="fa fa-chevron-down"></i>
            {{else}}
            <i class="fa fa-chevron-up"></i>
            {{/if}} {{/if}}
          </button>
        </td>
        <td>Level Up</td>
        {{#if isGM}}
        <td>Actions</td>
        {{/if}}
      </thead>
      <tbody>
        {{#each characters}}
        <tr data-id="{{id}}" data-name="{{name}}">
          <td>{{ name }}</td>
          <td>{{ level }}</td>
          <td>{{ xp }}</td>
          <td>{{ nextLevelXp }}</td>
          {{#if isGM}}
          <td class="flex">
            <button class="icon-button" id="delete-character">
              <i class="fas fa-trash"></i>
            </button>
            <button class="icon-button" id="edit-character">
              <i class="fas fa-edit"></i>
            </button>
          </td>
          {{/if}}
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{#if isGM}}
  <div class="flex">
    <button id="add-character">Add Character</button>
    <button id="reward-xp">Reward XP</button>
  </div>
  {{/if}}
</div>
