.xp-tracker-wrapper .flex,
.xp-tracker-add-character-form .flex,
.xp-tracker-reward-xp-form .flex {
  display: flex;
}

.xp-tracker-wrapper .fullwidth,
.xp-tracker-reward-xp-form .fullwidth,
.xp-tracker-add-character-form .fullwidth {
  width: 100%;
}

.xp-tracker-wrapper .icon-button {
  background: none;
  border: none;
  padding: 0;
  outline: none;
  width: auto;
}

.xp-tracker-wrapper {
  display: grid;
  grid-template-rows: 1fr var(--form-field-height);
  height: 100%;
  max-height: 100%;
}

.xp-tracker-wrapper .table-wrapper {
  overflow-y: scroll;
}

.xp-tracker-wrapper .table-wrapper table thead {
  position: sticky;
  top: 0;
}

.xp-tracker-add-character-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.xp-tracker-add-character-form label,
.xp-tracker-reward-xp-form label {
  /* Don't brek on whitespacee */
  white-space: nowrap;

  /* Center Vertically */
  line-height: var(--form-field-height);
  display: inline-block;
  vertical-align: middle;
}

.xp-tracker-add-character-form .input-group,
.xp-tracker-reward-xp-form .input-group {
  gap: 10px;
}

.xp-tracker-reward-xp-form,
.xp-tracker-reward-xp-form .characters-select,
.xp-tracker-reward-xp-form .flex.wrapper {
  height: 100%;
  max-height: 100%;
}

.xp-tracker-reward-xp-form .characters-select {
  margin: 0 10px;
}

.xp-tracker-reward-xp-form .characters-select ul {
  height: calc(100% - 3rem);
  max-height: calc(100% - 3rem);
  overflow-y: scroll;
}

.xp-tracker-reward-xp-form .characters-select ul {
  list-style: none;
}

.xp-tracker-reward-xp-form .characters-select li {
  display: flex;
  justify-content: space-between;
}

.xp-tracker-reward-xp-form .xp-rewarded {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  gap: 10px;
}
